<h3>Respond to this</h3>
<form action="/fake" method="post" id="commentform" class="form-horizontal">
  <fieldset id="commentfields">
    <input name="redirect" type="hidden" value="{{ site.url }}/thankyou">
    <input name="post_id" type="hidden" value="{{ slug }}">
    <input name="comment-site" type="hidden" value="{{ site.url }}">    
	<table>
		<tr>
			<textarea name="message" id="message" placeholder="Continue the discussion." style="width: 100%; height: 100px"  required></textarea>
		</tr>
		<tr>			
			<td><input type="text" name="name" id="name" placeholder="Display Name" style="height: 30px"/></td>
			<td><input type="text" name="email" id="email" placeholder="Email address" style="height: 30px" /></td>
			<td><button onclick="setupForm()" type="button" class="btn btn-primary" id="commentbutton" style="height: 30px">Leave response</button></td>
			<!-- <td><input type="text" name="url" id="url" placeholder="Website url"/></td> -->
		</tr>
	</table>
  </fieldset>
</form>
<script>
    function setupForm() {
      var status = document.getElementById('commentstatus')
      status.innerText = ''

      var requiredIds = [ 'message', 'email', 'name']
      var missing = requiredIds.filter(id => document.getElementById(id).value.length < 3)
      if (missing.length > 0) {
        status.innerText = 'Some required fields are missing - (' + missing.join(', ') + ')'
        return
      }

      var button = document.getElementById('commentbutton')
      if (button.innerText != 'Confirm comment') {
        button.innerText = 'Confirm comment'
        return
      }

      var form = document.getElementById('commentform')
      form.action = '{{ site.comments.receiver }}'
      button.innerText = 'Posting...'
      button.disabled = true
      form.submit()
      var fields = document.getElementById('commentfields')                                         
      fields.disabled = true
    }
  </script>
<div id="commentstatus" style="clear:both" class="status"></div>
