<form method="POST" action="https://api.staticman.net/v2/entry/ghanavat/{{ site.repository }}/{{ site.staticman.branch }}">
  <input name="options[redirect]" type="hidden" value="https://codingmarvels.com">
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <div>
	<span>Name</span>
	<input name="fields[name]" type="text">
  </div>
  <div>
	<span>E-mail</span>
	<input name="fields[email]" type="email">
  </div>
  <div>
	<span>Message</span>
	<textarea name="fields[message]"></textarea>
  </div>
  
  <button type="submit">Go!</button>
</form>