---
---

@import "{{ site.theme }}";

.wrapper{
    margin-left: 20%;
    max-width: 750px;
}
header{
    left:0;
    top: 0;
    background-color: whitesmoke;
    width: 320px;
    height: 100%;
}
footer{    
    left: 0;
    bottom: 0;
    padding-left: 30px;
    border-top: 1px solid lightgray;    
}
footer a{
    color: #222;
}
footer a:hover{
    color: lightseagreen;
}
.footer-theme{
    margin-top: 10px;
}
section{    
    float: left;
    width: 100%;    
}
.site-nav{
    margin-top: 10%;
    line-height: 31.5px;
}
.site-nav ul{    
    padding-top: 10%;
    height: 100%;
    width: 100%;
}
.site-nav ul li{    
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: lowercase;
    width: auto;    
}
header ul{
    list-style: none;
    border: none;
    text-align: left;        
}
header li{
    float: unset;    
    border: none;
}
header ul a{
    color: #222;
    font-size: 23px;
    font-weight: bold;
    text-align: left;
}
header ul a:hover{
    color: lightseagreen;
}
.site-title {
    font-size: 50px;
    color: darkblue;
    line-height: 53.55px;    
    font-weight: bold;    
}
.header-content {
    margin: 16% auto 0% 10%;
    width: 65%;
}
.header-content h1{
    border-bottom: 1px solid lightgray;
}
.header-content h1 a{
    color: #222222;
    //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.header-content h1 a:hover{
    color: lightseagreen;
}
// .excerpt {
//     margin: 0;
//     padding: 0;
// }
.post-header{
    margin-bottom: 30px;
    border-bottom: 1px solid blanchedalmond;
}
.post-header h1{
    font-size: 30px;
}
.post-title{
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1;
}
.post-title a{
    color: #222;
}
.post-title a:hover{
    color: lightseagreen;
}
.contactMe-container{
    //margin: 10px auto;
    max-width: 750px;
    text-align: left;
}
.about-title{
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1;
}
.about-content{
    max-width: 750px;
}
// .header{
//     position: fixed;
//     overflow-x: hidden;
//     left: 0;
//     height: 100%;
//     background-color: whitesmoke;
//     padding: 1%;
//     z-index: 1;
//     width: 320px;
//     top: 0;    
// }
// .header a:hover{
//     color: #258fb8;
// }
// .site-header {
//     margin: 16% auto 0% 10%;
//     //width: 70%;
// }
// .site-title {
//     font-size: 50px;
//     color: darkblue;
//     line-height: 53.55px;    
//     font-weight: bold;
// }
// .site-nav{
//     margin-top: 10%;    
//     line-height: 31.5px;    
// }
// .site-nav ul{
//     list-style-type: none;
//     margin-left: 0;
//     padding-top: 10%;
//     background-color: red;
// }
// .site-nav li{
//     font-size: 24px;    
//     color: #e8e8e8;
//     letter-spacing: 1px;
//     line-height: 1.5;    
// }
// .site-nav a{
//     color: #333;
// }
//.page-content{
    //margin-left: 300px;
    //margin-right: 140px;
    //padding: 30px 0;
    //background-color: lightblue;
//}
// .wrapper{
//     //margin-right: auto;
//     margin-left: 10%;
//     margin: 0 auto;
//     //width: 860px;
//     //max-width: 700px;
//     //padding-left: 30px;
//     //padding-right: 30px;
//     background-color: lightcoral;
// }
// .post-preview-content{
//     margin-bottom: 30px;
//     line-height: 33px;
// }
// .excerpt {
//     margin: 0;
//     padding: 0;
// }
// .meta{
//     font-size: 20px;
//     font-weight: 200;
//     color: grey;
//     margin-left: 4px;
// }
// .post-header{
//     margin-bottom: 30px;
//     border-bottom: 1px solid blanchedalmond;
// }
// .post-title{
//     font-size: 30px;
//     letter-spacing: -1px;
//     line-height: 1;
// }
.post-content{
    margin-bottom: 30px;
    line-height: 33px;
    //margin-left: 300px;
}
// .site-footer{
//     padding: 30px 0;
//     background-color: #333;
//     border-top: 1px solid red;
//     bottom: 0%;
//     position: fixed;    
//     width: 100%;
// }
// .footer-col-wrapper{
//     font-size: 19.6875px;
//     font-weight: 350;
//     color: #424242;
//     //margin-left: -15px;
//     margin-left: 25%;
// }
// .footer-col {
//     float: left;
//     margin-bottom: 15px;
//     padding-left: 15px;
// }
// .footer-col-1 {
//     width: calc(20% - (30px / 2));
// }
// .footer-col-2 {
//     width: calc(20% - (30px / 2));
// }
// .footer-col-3 {
//     width: calc(60% - (30px / 2));
// }
// .site-footer .wrapper{
//     margin-left: 20%;
// }
// ul ol{
//     margin-left: unset;
// }