---
---

@import "{{ site.theme }}";

.wrapper{
    margin-left: 20%;
    max-width: 750px;
}
header{
    left:0;
    top: 0;
    background-color: whitesmoke;
    width: 320px;
    height: 100%;
}
footer{    
    left: 0;
    bottom: 0;
    padding-left: 30px;
    border-top: 1px solid lightgray;    
}
footer a{
    color: #222;
}
footer a:hover{
    color: lightseagreen;
}
.footer-theme{
    margin-top: 10px;
}
section{    
    float: left;
    width: 100%;
    margin-left: 10%;
}
.site-nav{
    margin-top: 10%;
    line-height: 31.5px;
}
.site-nav ul{    
    padding-top: 10%;
    height: 100%;
    width: 100%;
}
.site-nav ul li{    
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: lowercase;
    width: auto;    
}
header ul{
    list-style: none;
    border: none;
    text-align: left;        
}
header li{
    float: unset;    
    border: none;
}
header ul a{
    color: #222;
    font-size: 23px;
    font-weight: bold;
    text-align: left;
}
header ul a:hover{
    color: lightseagreen;
}
.site-title {
    font-size: 50px;
    color: darkblue;
    line-height: 53.55px;    
    font-weight: bold;    
}
.header-content {
    margin: 16% auto 0% 10%;
    width: 65%;
}
.header-content h1{
    border-bottom: 1px solid lightgray;
}
.header-content h1 a{
    color: #222222;
}
.header-content h1 a:hover{
    color: lightseagreen;
}
.post-header{
    margin-bottom: 30px;
    border-bottom: 1px solid blanchedalmond;
}
.post-header h1{
    font-size: 30px;
}
.post-title{
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1;
}
.post-title a{
    color: #222;
}
.post-title a:hover{
    color: lightseagreen;
}
.contactMe-container{    
    max-width: 750px;
    text-align: left;
}
.about-title{
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1;
}
.about-content{
    max-width: 750px;
}
.post-content{
    margin-bottom: 30px;
    line-height: 33px;    
}
